<div class="article">
	<div class="day">
       <%= article.day %>
     </div>
    <div class="month">
       <%= article.month %>
      </div>
    <div class="year">
        <%= article.year %>
    </div>            
	<p class="title">
	  <%= @article.title %>
	</p>
	 
	<p class="subtitle">
	  <%= @article.subtitle %>
	</p>

	<p class="content">
	  <%= @article.content %>
	</p>
	<%= link_to "Editer", edit_article_path(@article) %>
	<%= link_to 'Supprimer', article_path(@article),
              method: :delete,
              data: { confirm: 'Etes-vous sûr ?' } %>
    <%= link_to "Retour page d'accueil", articles_path %>

</div>